<div class="card text-center mx-auto mb-5" style="width: 32rem;">
  <div class="card-header border-secondary">
    <h2><%= link_to poem.title, poem_path(poem.id), class: "poem-card-link" %></h2>
     <%= poem.date %><br />
  </div>
  <div class="card-body text-left">
    <p class="card-text">
      <%= simple_format poem.content, class: "poem" %>
      </p>
      <p class="text-center">
        <%= link_to "#" + poem.category_name, categories_path(poem.category_id), class: "poem-category-link" %>
      </p>
    </div>
    <div class="card-footer text-muted border-secondary">
      <%= link_to "Edit", edit_poem_path(poem.id), class: "btn btn btn-secondary btn-sm col-xs-2 btn-primary-spacing"%><%= link_to "Delete", poem_path(poem.id), :method => "delete", class: "btn btn btn-secondary btn-sm col-xs-2 btn-primary-spacing"%>
    </div>
  </div>
</div>
