<div class="card text-center mx-auto mb-5" style="width: 25rem;">
  <div class="card-header">
    <h2><u>Sign In</u></h2>
  </div>
  <div class="card-body text-left">
    <p class="card-text">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <br />
        <div class="field">
          <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <br />
        <br />
        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-block btn-dark" %>
        </div>
      <% end %>
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= render "devise/shared/links" %>
  </div>
</div>
